# This workflow runs Qodana code quality analysis on the repository.
# The workflow performs static code analysis using JetBrains Qodana and reports findings.
name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: "Qodana Scan"
        uses: JetBrains/qodana-action@42dad391966aca8ca344ca2340a7f43a5507e9b2 # v2025.3.1
        with:
          args: --fail-threshold=1
          pr-mode: false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_597407985 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
