name: Qodana

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  qodana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      checks: write

    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}  # to check out the actual pull request commit, not the merge commit
          fetch-depth: 0  # a full history is required for pull request analysis

      - name: "Qodana Scan"
        uses: JetBrains/qodana-action@e5d20b1260e99a93210d46ec8882c83978a09036
        with:
          pr-mode: false
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN_597407985 }}
          QODANA_ENDPOINT: 'https://qodana.cloud'
